.main-content {
    background: linear-gradient(180deg, #FFFFFF 0%, #D6EFF8 23%, #CFEDF7 100%, #4ABAE1 100%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    height: 85vh;
    padding-bottom: 15vh;
}
.pageTitle{
    color: #283B7E;
    text-shadow: 0 0 20px rgb(103, 115, 238);
    margin-top: 6vh;
}
.cards {
    display: flex;
    justify-content: center;
    align-content: center;
    gap:12vw;

    margin-top:5vw;
}
#doctorCard{
    background-color: #4ABAE1;
}
#doctorCard h2{
    border-bottom:white solid 2px;
    width: max-content;
    align-self: center;
    margin-top: 0;
}
#doctorCard h2, #doctorCard p, #clientCard .register-btn, .login-btn{
    color: white;
}
#clientCard{
   background-color: white;

}
.card {
    background-color: #e6f7ff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 20px rgba(123, 132, 229, 0.61);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-family: Arial;


}
#clientCard h2{
    border-bottom:  #036f94 2px solid;
    width: max-content;
    align-self: center;
    margin-top: 0;
}
#clientCard h2,#clientCard p, #doctorCard .register-btn  {
    color: #036f94;
}
#clientCard .register-btn{
    background-color: #3399ff;

}
.register-btn, .login-btn {

    border: none;
    width: max-content;
    padding: 15px 25px;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    align-self: center;
    font-family: Arial;
    font-weight: bolder;
}
#clientCard .register-btn:hover{
    text-decoration: underline;
    background: linear-gradient(360deg,  #05abe7 28%, #7667f3 100%, #3933d0 100%);
}
#doctorCard .register-btn:hover{
    text-decoration: underline;
    background: linear-gradient(360deg, #ffffff 8%, #ebcdf8 100%, #ccfaff 50%);
}
.login-btn {
    background-color: #003366;

}
.login-btn:hover{
    text-decoration: underline;
    background: linear-gradient(360deg, #031769 45%, #463ba2 100%, #025a7a 100%);
}

@media (max-width: 600px) {
 .pageTitle{
     font-size: 20px;
 }
    .cards{
        margin-top:0;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        gap:4vh;

    }
    .card{
        width: 280px;
        margin: 0px 14vw 0px 16vw;
        font-size: 15px;
    }
}